<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Request editor</span>
      <button pButton type="button" style="float:right;" label="Send" class="ui-button-info" icon="fa-check" (click)="send()"></button>
    </div>
  </p-header>
  <p-tabView [activeIndex]="index">
    <p-tabPanel header="Build">
      <p-accordion>
        <p-accordionTab header="HTTP Method & URL">
          <div class="ui-g">
            <div class="ui-g-2">
              <p-dropdown [options]="methods" [(ngModel)]="request.method"></p-dropdown>
            </div>
            <div class="ui-g-10">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">URL</span>
                <input type="text" pInputText [(ngModel)]="request.url" />
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Headers">
          <app-data-table [inputVal]="request.headers" (inputChange)="request.headers=$event"></app-data-table>
        </p-accordionTab>
        <p-accordionTab header="Query string parameters">
          <app-data-table [inputVal]="request.parameters" (inputChange)="request.parameters=$event"></app-data-table>
        </p-accordionTab>
        <p-accordionTab header="Body">
          <app-data-table [inputVal]="request.body" (inputChange)="request.body=$event"></app-data-table>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Raw">
      <textarea pInputTextarea></textarea>
    </p-tabPanel>
    <p-tabPanel header="Response">
      <pre><code class="language-json" pCode>{{ request.response | json }}</code></pre>
    </p-tabPanel>
  </p-tabView>
</p-panel>