<p-panel header="Request editor">
  <p-tabView>
    <p-tabPanel header="Build">
      <p-accordion>
        <p-accordionTab header="HTTP Method & URL">
          <div class="ui-g">
            <div class="ui-g-2">
              <p-dropdown [options]="methods" [(ngModel)]="request.method"></p-dropdown>
            </div>
            <div class="ui-g-10">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">URL</span>
                <input type="text" pInputText [(ngModel)]="request.url" />
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Headers">
          <p-dataTable [value]="request.headers" [editable]="true">
            <p-column field="use" header="" [style]="{'width':'5%', 'text-align':'center'}">
              <ng-template let-col let-req="rowData" let-ri="rowIndex" pTemplate="body">
                <p-checkbox [(ngModel)]="req.use" binary="true"></p-checkbox>
              </ng-template>
            </p-column>
            <p-column field="key" header="Key" [style]="{'width':'45%'}"></p-column>
            <p-column field="value" header="Value" [style]="{'width':'50%'}"></p-column>
          </p-dataTable>
        </p-accordionTab>
        <p-accordionTab header="Parameters">
          Content 3
        </p-accordionTab>
        <p-accordionTab header="Body">
          Content 3
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Raw">
      <textarea pInputTextarea></textarea>
    </p-tabPanel>
  </p-tabView>
</p-panel>