<p-panel header="Request editor">
  <p-tabView>
    <p-tabPanel header="Build">
      <p-accordion>
        <p-accordionTab header="HTTP Method & URL">
          <div class="ui-g">
            <div class="ui-g-2">
              <p-dropdown [options]="methods" [(ngModel)]="request.method"></p-dropdown>
            </div>
            <div class="ui-g-10">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">URL</span>
                <input type="text" pInputText [(ngModel)]="request.url" />
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Headers">
          <app-data-table [inputVal]="request.headers"></app-data-table>
        </p-accordionTab>
        <p-accordionTab header="Parameters">
          <app-data-table [inputVal]="request.parameters"></app-data-table>
        </p-accordionTab>
        <p-accordionTab header="Body">
          <app-data-table [inputVal]="request.body"></app-data-table>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Raw">
      <textarea pInputTextarea></textarea>
    </p-tabPanel>
  </p-tabView>
</p-panel>