<p-dataTable [value]="inputVal" [editable]="true">
  <p-footer>
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div>Total: {{ inputVal.length }}&nbsp;&nbsp;&nbsp;Sending: {{ sendingSum }}</div>
      </div>
      <div class="ui-toolbar-group-right">
        <button pButton
          type="button"
          icon="fa-plus"
          label="Add"
          class="ui-button-info"
          (click)="addRow()">
        </button>
        <button pButton
          type="button"
          icon="fa-trash"
          label="Remove unused"
          class="ui-button-danger"
          (click)="removeSelectedRows()">
        </button>
      </div>
    </p-toolbar>
  </p-footer>
  <p-column field="use" header="" [style]="{'width':'5%', 'text-align':'center'}">
    <ng-template let-col let-req="rowData" let-ri="rowIndex" pTemplate="body">
      <p-checkbox [(ngModel)]="req.use" binary="true" (onChange)="getSum(req.use)"></p-checkbox>
    </ng-template>
  </p-column>
  <p-column field="key" header="Key" [style]="{'width':'45%'}" [editable]="true"></p-column>
  <p-column field="value" header="Value" [style]="{'width':'50%'}" [editable]="true"></p-column>
</p-dataTable>